body {
   max-width: 1170px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 16px;
   padding-right: 16px;
}

.header {
   border: 1px solid black;
   height: 100px;
   width: 760px;
   background-color: silver;
   margin-bottom: 10px;
   
}


.block {
   background-color: white;
   width: 70px;
   height: 70px;
   margin:9px;
}

.text-header {
   color: black
}

.aside {
   height: 450px;
   width: 230px;
   background-color: rgb(168, 167, 167);
   /*text-decoration: underline;*/
   cursor: pointer;
   float: left;
}

.vertical-menu {
   width: 200px; 
   margin-top: 10px
}

.vertical-menu a {
   background-color: #eee; 
   color: black; 
   display: block; 
   padding: 12px; 
   text-decoration: none; 
   text-decoration: underline;
}

.vertical-menu a:hover {
   background-color: #ccc; 
}


.main {
   width: 762px;
   height: 450px;
   background-color:white;
   right: auto;
   text-align: left;
}

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300&family=Nuosu+SIL&family=Tai+Heritage+Pro:wght@400;700&display=swap');

.main-text {
color: black;
/*font-size: ;*/
font-family: 'Mukta', sans-serif;
font-family: 'Nuosu SIL', serif;
font-family: 'Tai Heritage Pro', serif;
margin-right: 10px;
}

.footer {
   height: 30px;
   width: 779px;
   background-color: black;
   
}

