body {
   max-width: 1170px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 16px;
   padding-right: 16px;
}

.header {
   border: 1px solid black;
   height: 120px;
   background-color: silver;

}

.block {
   background-color: black;
   width: 20px;
   height: 20px;
}

.saidbar {
   height: 100px;
   width: 120px;
   background-color: silver;
}

.content {
   width: 200px;
   background-color:blue;
   right: auto;
}

.main-text {
color: red;
}

.footer {
   height: 50px;
   background-color: black;
}