body {
   max-width: 1170px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 16px;
   padding-right: 16px;
}

.header {
   border: 1px solid black;
   height: 120px;
   background-color: silver;
}


.block {
   background-color: white;
   width: 70px;
   height: 70px;
   float:;
}

.text-block {
   right: 20px;
}

.saidbar:hover {
   height: 100px;
   width: 120px;
   background-color: silver;
   text-decoration: underline;
   cursor: pointer;
}

.main {
   width: 200px;
   background-color:blue;
   right: auto;
}

.main-text {
color: black;
}

.footer {
   height: 50px;
   background-color: black;
}